.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.popupContent {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 60vw;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: auto;
}
  
.popupClose {
    position: absolute;
    top: .3rem;
    right: .3rem;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}


  