.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 178, 113);
    padding: 5px 10px;
    color: white;
}

.navbarLeft .navbarBrand {
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.navbarRight {
    display: flex;
}

.navbarNav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarNav li {
    margin-left: 2rem;
}

.navLink {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.logoutBtn {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Jost", serif;
}

.active {
    color: black;
    font-weight: bold;
}
  