

.page{
    background: url("../../../public/assets/images/home_background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction:column;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 178, 113);
    margin:1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
    max-height: 78vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.heading{
    margin-top: 7vh;
    text-align: center;
    color: rgb(255, 183, 0);
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
}

.listing{
    margin: 0.5rem;
    background-color: rgb(253, 234, 193);
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
    border: 2px solid rgb(208, 178, 113);
}

.listingHeader{
    display: flex;
    align-items: center;
}

.listingContent{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ownerContent{
    text-align: right;
}
.requestButton{
    position: absolute;   
    bottom: 0.7rem;         
    right: 0.7rem;          
    padding: 0.6rem 1rem;   
    background-color: rgb(153, 109, 14); 
    color: white;         
    border: none;         
    cursor: pointer;      
    border-radius: 0.3rem;   
    font-family: 'Jost',serif;
    font-size: 1rem;
}

.requestButton:hover{  
    background-color: rgb(60, 51, 31);  
}